Post-Service Review Collector.json
{
  "name": "Post-Service Review Collector",
  "nodes": [
    {
      "parameters": {},
      "id": "307504e7-843c-449b-99fb-cfbb3ef63d45",
      "name": "When clicking ‘Execute workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        560,
        816
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "e2adb005-2b3c-4d1e-8445-442df1fe925a",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.id }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "49bd9a82-c87a-4655-a31a-3f7c2cef21af",
      "name": "Validate Deal Fetch Success",
      "type": "n8n-nodes-base.if",
      "position": [
        1184,
        816
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": "1Uldk_4BxWbdZTDZxFUeohIfeBmGHHqVEl9Ogb0l6R8Y",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uldk_4BxWbdZTDZxFUeohIfeBmGHHqVEl9Ogb0l6R8Y/edit?usp=drivesdk",
          "cachedResultName": "Interviewer Brief Pack "
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": 1338537721,
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Uldk_4BxWbdZTDZxFUeohIfeBmGHHqVEl9Ogb0l6R8Y/edit#gid=1338537721",
          "cachedResultName": "error log sheet"
        },
        "columns": {
          "value": {},
          "schema": [
            {
              "id": "error_id",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "error_id",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "error",
              "type": "string",
              "display": true,
              "removed": false,
              "required": false,
              "displayName": "error",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "error_id"
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "90d8f013-334f-4dd2-b48c-6ecd8edb33cc",
      "name": "Log Errors in Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1504,
        1392
      ],
      "typeVersion": 4.6
    },
    {
      "parameters": {
        "resource": "opportunity",
        "operation": "getAll",
        "filters": {
          "status": "won"
        },
        "requestOptions": {}
      },
      "id": "ffda82fb-eca5-4ead-9030-dc3fa4a03179",
      "name": "Fetch All Won Deals from HighLevel",
      "type": "n8n-nodes-base.highLevel",
      "position": [
        912,
        816
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an HTML-formatted review-request email for a client who has just completed a project with our agency.  \nUse the following deal data to personalize the message:\n{{JSON.stringify($json)}}\n\nThe email should:\n1. Address the client by name.  \n2. Thank them for working with our agency.  \n3. Politely ask for their feedback and a quick public review.  \n4. Include two call-to-action buttons:\n   - One leading to the Google Review page: https://share.google/W3i4ulISiqRONADvO  \n   - Another leading to the internal Google Form: https://docs.google.com/forms/d/e/1FAIpQLScot2dbxFrx7jS8oTbQa3HZy9SSUtuB0iYch5U83UNNEwB9_g/viewform?usp=publish-editor  \n5. End with a warm closing line from the Techdome team.  \nKeep the tone professional, grateful, and concise.  \nReturn only the HTML email body—no markdown or explanations.\n",
        "options": {
          "systemMessage": "=You are an AI email writer for a client-success automation system.  \nYour task is to generate short, professional, visually clear HTML emails for clients after their project or service is completed.  \nThe tone should be friendly and appreciative, encouraging them to share feedback and public reviews.  \nAlways include clickable buttons styled with simple inline CSS (rounded corners, Techdome blue #1263ff).  \nDo not use markdown, return only HTML output.\n"
        }
      },
      "id": "16feaf76-1d21-4248-8196-cdac0ca6aa44",
      "name": "Generate Personalized Review Request Email (AI)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1584,
        800
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "2dd0c605-26de-484b-9513-80e01c12804e",
      "name": "Configure GPT-4o Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "position": [
        1584,
        992
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "sendTo": "=newscctv22@gmail.com",
        "subject": "=Thank You for Working with Techdome .\n",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "id": "7c19a5b1-7563-4206-998c-dabf894f162a",
      "name": "Send Review Request Email to Client",
      "type": "n8n-nodes-base.gmail",
      "position": [
        1984,
        800
      ],
      "webhookId": "0c82c299-6938-42ed-bda6-5007d79af34f",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "get",
        "threadId": "={{ $json.threadId }}",
        "options": {}
      },
      "id": "0f55042f-ec52-44b1-b5a8-42a480698960",
      "name": "Retrieve Email Thread for Response",
      "type": "n8n-nodes-base.gmail",
      "position": [
        2448,
        800
      ],
      "webhookId": "ffb3a844-8c8b-4f17-a6e9-98e0371f4214",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "168e6c0b-ca5e-4802-8447-ab32a4c2d2b7",
      "name": "Configure GPT-4o Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatAzureOpenAi",
      "position": [
        2704,
        1040
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 24
      },
      "id": "d2be2d16-1a81-4385-ae7b-8a87c98c8acd",
      "name": " Wait for 24 Hours Before Next Action",
      "type": "n8n-nodes-base.wait",
      "position": [
        2224,
        800
      ],
      "webhookId": "7475fece-4562-46b3-a702-7a5c5fe88266",
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI assistant that summarizes client feedback threads for internal Slack updates.\n\nGiven the following Gmail thread JSON:\n{{JSON.stringify($json)}}\n\nCreate a short Slack message in this format:\n\n---\n🎉 *New Client Review Received!*\n\n*Client:* {{ $('Fetch All Won Deals from HighLevel').item.json.name }}\n*Feedback:* {{ $json.messages[1].snippet }}\n*Sentiment:* {{positive/neutral/negative}}  \n\n\n---\n\nKeep it concise, human-readable, and formatted for Slack (use Markdown formatting). Do not include HTML or JSON — return plain text formatted for Slack.\n",
        "options": {
          "systemMessage": "=You are a client-success AI summarizer. \nYour goal is to turn raw Gmail thread data (including “Thank you” replies) into short, clean, Slack-ready summaries. \nFocus on identifying who replied (client name), what they said, and the tone (positive/neutral/negative).\n"
        }
      },
      "id": "ebf184c5-39da-4baa-a7d7-275428e848f5",
      "name": "Summarize Client Feedback (AI)",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        2704,
        800
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "select": "user",
        "user": {
          "__rl": true,
          "mode": "list",
          "value": "U09HMPVD466",
          "cachedResultName": "newscctv22"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {}
      },
      "id": "c23f0870-b4c1-4f0c-b43e-1f21572ed9cf",
      "name": " Announce Review Summary in Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        3088,
        800
      ],
      "webhookId": "ddaa7632-9e35-4bd3-82d6-572d5cae84cc",
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "content": "## Deal Fetch & Validation\nFetches all deals with “Won” status from HighLevel and checks for valid data before proceeding.  \nPrevents empty or incomplete deal entries from triggering the AI email generator.\n",
        "height": 416,
        "width": 624,
        "color": 7
      },
      "id": "67d2b9af-3d89-4291-a5f6-a615bfbcca8a",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        608
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## AI-Powered Email Generation\nUses GPT-4o to craft a personalized, HTML review-request email.  \nIncludes thank-you text, brand-styled buttons for Google Reviews and internal feedback, and a warm closing line.\n",
        "height": 512,
        "width": 368,
        "color": 7
      },
      "id": "99438f13-6e73-4794-bf7b-9da0eeb3cff9",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1504,
        624
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Email Delivery\nSends the GPT-generated review-request email through Gmail to the client’s registered address.  \nTracks the sent message for later thread retrieval and analysis.\n",
        "height": 544,
        "color": 7
      },
      "id": "c5c53866-5c92-4d58-ba42-18e9437acadf",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1904,
        576
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Waiting & Feedback Retrieval\nPauses for 24 hours to give clients time to reply, then fetches the full Gmail thread.  \nEnsures the latest feedback message is available for sentiment analysis.\n",
        "height": 496,
        "width": 432,
        "color": 7
      },
      "id": "83b60e6c-e0e5-4176-96e2-d7288d02ed42",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2176,
        592
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## AI Feedback Summarization\nGPT-4o analyzes the client’s response and creates a short Slack-formatted summary.  \nCaptures client name, key feedback, and overall sentiment (Positive/Neutral/Negative).\n",
        "height": 640,
        "width": 368,
        "color": 7
      },
      "id": "5019402b-1150-4147-96c4-d0a6f5c514b7",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Slack Announcement\nPosts the summarized client feedback in a Slack channel.  \nNotifies the team in real time and helps track post-service satisfaction trends.\n",
        "height": 464,
        "color": 7
      },
      "id": "91b94c3a-173c-488d-8802-88a4b0070f72",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3024,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Error Logging\nAppends any workflow or API issues to a shared Google Sheet.  \nMaintains an audit trail for error resolution and workflow reliability checks.\n",
        "height": 416,
        "color": 7
      },
      "id": "f4c6e931-bbf3-49f0-b89d-0d5e66218eb7",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1440,
        1216
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Configure GPT-4o Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Personalized Review Request Email (AI)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Configure GPT-4o Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Summarize Client Feedback (AI)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Validate Deal Fetch Success": {
      "main": [
        [
          {
            "node": "Generate Personalized Review Request Email (AI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Errors in Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Client Feedback (AI)": {
      "main": [
        [
          {
            "node": " Announce Review Summary in Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch All Won Deals from HighLevel": {
      "main": [
        [
          {
            "node": "Validate Deal Fetch Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Email Thread for Response": {
      "main": [
        [
          {
            "node": "Summarize Client Feedback (AI)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Review Request Email to Client": {
      "main": [
        [
          {
            "node": " Wait for 24 Hours Before Next Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Fetch All Won Deals from HighLevel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Wait for 24 Hours Before Next Action": {
      "main": [
        [
          {
            "node": "Retrieve Email Thread for Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Personalized Review Request Email (AI)": {
      "main": [
        [
          {
            "node": "Send Review Request Email to Client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4198c0c8-f79f-4031-b53b-0baa882928b4",
  "meta": {
    "instanceId": "df9e926e4db944a4b8e5dbae635b7c198e7118577d93d38bd64b1952645ba4f0"
  },
  "id": "6EvRDLak6HkZ3FZO",
  "tags": [
    {
      "updatedAt": "2025-12-17T11:40:11.851Z",
      "createdAt": "2025-12-17T11:40:11.851Z",
      "id": "QGOEl3HaCQ7cTJMO",
      "name": "Feedback loops"
    }
  ]
}